@{

    Layout = "_AdmLayout";

    ViewBag.Title = "Surway List";
    ViewBag.ApiBaseUrl = "https://localhost:5125/api/"; // Örnek API base URL

}


    <div class="col-md-8">
        <h4>Anket Sorusuler</h4>
        <a href="/Surways">Anketler</a> | <span id="catName"></span>
        <table class="table" id="tbSurwaysQuestionList">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Adı</th>
                    <th>Fiyatı</th>
                    <th>Durumu</th>
                    <th>Kayıt T.</th>
                    <th>Düzenleme T.</th>
                    <th>İşlemler</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">
        <h4 id="editHeader">Anket Sorusu Ekle</h4>

        <div class="b-2">
            <label>Anket Sorusu Adı</label>
            <input type="text" class="form-control" id="txtName" />
            <input type="hidden" id="txtId" />
        </div>
        <div class="b-2">
            <label>Anket Sorusu Fiyatı</label>
            <input type="text" class="form-control" id="txtPrice" />

        </div>
        <div class="b-2">
            <label>Anket Sorusu Kategori</label>
            <select class="form-select" id="cbCategory">
            </select>

        </div>
        <div class="b-2">
            <input type="checkbox" class="form-check-inline" id="cbIsActive" />
            <label>Aktif</label>
        </div>
        <div class="mb-2">
            <button class="btn btn-outline-primary btn-sm" id="btnSave">Kaydet</button>
            <button class="btn btn-outline-primary btn-sm" id="btnEdit">Düzenle</button>
            <button class="btn btn-outline-danger btn-sm" id="btnDelete">Sil</button>
            <button class="btn btn-outline-secondary btn-sm" id="btnCancel">Vazgeç</button>
        </div>

        <div id="result"></div>

    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <script>
        var ApiBaseUrl = "@ViewBag.ApiBaseUrl"; // ViewBag'den API base URL'i al

        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            var catId = "@ViewBag.CatId";
            SurwaysQuestionList();
            CategoriList();
            CategoryById();
            $("#btnEdit").hide();
            $("#btnDelete").hide();


            function CategoriList() {
                $.ajax({
                    url: ApiBaseUrl + "Surways",
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        var opt = "";
                        $("#cbCategory").empty();
                        $.each(data, function (i, item) {

                            if (catId == item.id) {
                                opt = '<option value="' + item.id + '" selected>' + item.name + '</option>';
                            } else {
                                opt = '<option value="' + item.id + '">' + item.name + '</option>';
                            }

                            $("#cbCategory").append(opt);
                        });

                    },
                    error: function () { }
                });
            }
            function CategoryById() {
                $.ajax({
                    url: ApiBaseUrl + "Surways/" + catId,
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#catName").html("<b>" + data.name + "<b>");
                    },
                    error: function () { }
                });
            }
            function SurwaysQuestionList() {
                $.ajax({
                    console.log(data)
                    url: ApiBaseUrl + "SurwaysQuestion",
                    method: "GET",
                    dataType: 'json',
                    console.log(data)
                            var tbody = $('#tbSurwaysQuestionList tbody');
                    $.each(data, function (index, surway) {
                        var row = '<tr>' +
                            '<td>' + surway.name + '</td>' +
                            '<td>' + surway.isActive + '</td>' +
                            '<td>' + surway.created + '</td>' +
                            '<td>' + surway.updated + '</td>' +
                            '</tr>';
                        tbody.append(row);
                    });
                },
                    error: function (xhr, status, error) {
                        console.log('Error: ' + error);
                    }

            }
            function SurwaysQuestionListToTable(data) {
                $("#tbSurwaysQuestionList tbody").empty();
                var tr = '';
                $.each(data, function (i, item) {
                    var bg = item.isActive ? 'bg-success' : 'bg-danger';

                    tr += '<tr><td>' + item.id + '</td><td>' + item.name + '</td><td>' + item.price + '</td><td><span class="badge ' + bg + '">' + (item.isActive ? 'Aktif' : 'Pasif') + '</span></td><td>' + FormatDate(item.created) + '</td><td>' + FormatDate(item.updated) + '</td><td><button class="btn btn-outline-primary btn-sm edit" id=' + item.id + '>Düzenle</td></tr>'
                });

                $("#tbSurwaysQuestionList tbody").append(tr);
            }
            function FormatDate(d) {
                var date = new Date(d);
                var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                var mount = date.getMonth() > 9 ? date.getMonth() : '0' + date.getMonth();
                var year = date.getFullYear();

                var hour = date.getHours() > 9 ? date.getHours() : '0' + date.getHours();
                var minute = date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes();
                var second = date.getSeconds() > 9 ? date.getSeconds() : '0' + date.getSeconds();

                var fd = day + "." + mount + "." + year + " " + hour + ":" + minute + ":" + second;
                return fd
            }


            $("#btnSave").click(function () {
                var name = $("#txtName").val();
                
                var categoryId = $("#cbCategory").val();
                var isActive = $("#cbIsActive").is(":checked");
                var SurwaysQuestion = new Object();
                SurwaysQuestion.Name = name;
                SurwaysQuestion.Price = price;
                SurwaysQuestion.CategoryId = categoryId;
                SurwaysQuestion.IsActive = isActive;

                $.ajax({
                    url: ApiBaseUrl + "SurwaysQuestions",
                    method: "POST",
                    data: JSON.stringify(SurwaysQuestion),
                    contentType: "application/json",
                    success: function (data) {
                        $("#result").show();
                        if (data.status) {
                            $("#result").removeClass().addClass("alert alert-success");
                            SurwaysQuestionList();
                        }
                        else {
                            $("#result").removeClass().addClass("alert alert-danger");
                        }
                        $("#result").html(data.message);
                        $("#result").fadeOut(3000);
                    },
                    error: function () { }
                });

            });
            $(document).on("click", ".edit", function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: ApiBaseUrl + "SurwaysQuestions/" + id,
                    method: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        $("#txtId").val(data.id);
                        $("#txtName").val(data.name);
                        
                        $("#cbCategory").val(data.categoryId);
                        $("#cbIsActive").prop("checked", data.isActive);

                        $("#btnEdit").show();
                        $("#btnDelete").show();
                        $("#btnSave").hide();

                        $("#editHeader").html("Anket Sorusu Düzenle - Sil");
                    },
                    error: function () { }
                });


            });


            $("#btnCancel").click(function () {
                $("#txtId").val("");
                $("#txtName").val("");
                $("#cbIsActive").prop("checked", false);
                $("#btnEdit").hide();
                $("#btnDelete").hide();
                $("#btnSave").show();
                $("#editHeader").html("Anket Sorusu Ekle");

            });


            $("#btnEdit").click(function () {

                var id = $("#txtId").val();
                var name = $("#txtName").val();
                
                var categoryId = $("#cbCategory").val();
                var isActive = $("#cbIsActive").is(":checked");
                var SurwaysQuestion = new Object();
                SurwaysQuestion.Id = id;
                SurwaysQuestion.Name = name;
                SurwaysQuestion.Price = price;
                SurwaysQuestion.CAtegoryId = categoryId;
                SurwaysQuestion.IsActive = isActive;

                $.ajax({
                    url: ApiBaseUrl + "SurwaysQuestions",
                    method: "PUT",
                    data: JSON.stringify(SurwaysQuestion),
                    contentType: "application/json",
                    success: function (data) {
                        $("#result").show();
                        if (data.status) {
                            $("#result").removeClass().addClass("alert alert-success");
                            SurwaysQuestionList();
                        }
                        else {
                            $("#result").removeClass().addClass("alert alert-danger");
                        }
                        $("#result").html(data.message);
                        $("#result").fadeOut(3000);
                    },
                    error: function () { }
                });


            });

            $("#btnDelete").click(function () {
                console.log("sil");
                var id = $("#txtId").val();
                $.ajax({
                    url: ApiBaseUrl + "SurwaysQuestions/" + id,
                    method: "DELETE",
                    contentType: "application/json",
                    success: function (data) {
                        $("#result").show();
                        if (data.status) {
                            $("#result").removeClass().addClass("alert alert-success");
                            SurwaysQuestionList();
                        }
                        else {
                            $("#result").removeClass().addClass("alert alert-danger");
                        }
                        $("#result").html(data.message);
                        $("#result").fadeOut(3000);
                    },
                    error: function () { }
                });


            });
        });
    </script>
}